# Data Processing
pandas==2.2.3
numpy==1.26.4

# Machine Learning
scikit-learn==1.5.2
xgboost==2.1.1

# Time Series
statsmodels==0.14.4
scipy==1.14.1

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1

# Dashboard
streamlit==1.39.0

# Utilities
jupyter==1.1.1
notebook==7.2.2
ipython==8.28.0
joblib==1.4.2
python-dotenv==1.0.1

# Misc
tqdm==4.66.5
openpyxl==3.1.5